*.obj
*.pdb
*.exp
*.ilk
*.ncb
*.suo
*.user
*.dep
*.idb
*.manifest
*.res
*.lib
Release
release
Debug
debug
*.lib
*.exe
*.blend
*.pmd
*.log
ipch
_UpgradeReport_Files
*.xml
*.dae
*.x
*.sdf
*.opensdf
project-build-*
3rd
data
!data\shaders\*
!source\virtual\data
old
log*